<div class="total-content">

  <header class="header" id="header">
    <div class="title">Accessibility & inclusion</div>
    <div class="title-img">
      <img src="../../assets/Motif2.svg" alt="Motif2" />
      <img src="../../assets/Motif3.svg" alt="Motif3" />
      <img src="../../assets/Motif5.svg" alt="Motif5" />
      <img src="../../assets/Motif6.svg" alt="Motif6" />
    </div>
  </header>


  <div class="content">

    <div class="content-intro">

      <div class="intro">
        <span class="span-subtitle-400">
          At TIAA, we strive to make our digital experiences accessible to all audiences, including users who don’t use
          a mouse or touchscreen device and rely on assistive technologies and those who have different language
          abilities. 
        </span>
        <div class="accessibility">
          <div class="boxes-left">
            <span class="span-subtitle-700">
              We consider users who have:
            </span>
            <div>
              <img src="../../assets/visibility.svg" alt="visibility" />
              <span>Low vision</span>
            </div>
            <div>
              <img src="../../assets/megaphone.svg" alt="megaphone" />
              <span>Low hearing</span>
            </div>
            <div>
              <img src="../../assets/lightbulb.svg" alt="lightbulb" />
              <span>Cognitive disabilities</span>
            </div>
            <div>
              <img src="../../assets/devices.svg" alt="devices" />
              <span>Physical disabilities</span>
            </div>
          </div>

          <div class="boxes-rigth">
            <span class="span-subtitle-700">
              4 key areas when writing for accessibility
            </span>
            <div>
              <span class="number">1</span>
              <span>Visual</span>
            </div>
            <div>
              <span class="number">2</span>
              <span>Audio</span>
            </div>
            <div>
              <span class="number">3</span>
              <span>Cognition</span>
            </div>
            <div>
              <span class="number">4</span>
              <span>Mobility</span>
            </div>
          </div>
        </div>


        <div>
          <span class="span-subtitle-400">
            That said, we deliver content that is:  
          </span>
          <ul>
            <li>
              <span class="span-subtitle-700">Operable:</span>
              <span class="span-subtitle-400">
                 designed with intuitive navigation and accessible user interface (UI) elements.
              </span>
            </li>
            <li>
              <span class="span-subtitle-700">Understandable:</span>
              <span class="span-subtitle-400">
                readable and scannable.
              </span>
            </li>
          </ul>
        </div>

        <span class="span-subtitle-400">
          By considering everyone, you’re able to deliver robust content that functions as intended and make decisions
          with confidence. The following entries apply to text, visual, and audio elements across web and mobile at
          TIAA.
        </span>

      </div>

      <div class="writing">

        <div class="content-dividier">
          <div class="dividier"></div>
          <div class="dividier-two"></div>
        </div>

        <div>
          <span class="sub-title">
            Writing for digital accessibility
          </span>
          <h1 class="span-subtitle-24">Plain language</h1>
          <div class="content-gap16">

            <span class="span-subtitle-400">
              Make sure your words are human and easy to understand to avoid excluding users with lower English
              comprehension or those with limited understanding of financial terminology. Stick to writing at an 8th
              grade
              reading level, which allows for around 85% of the general population to understand your content.
            </span>
            <span class="span-subtitle-16">For more details on using plain language, please refer to <a href="#">Grammar
                & usage</a></span>
          </div>
        </div>

        <div class="dividier-line"></div>

        <div>
          <h1 class="span-subtitle-24">Inclusive language</h1>
          <span class="span-subtitle-400">
            To be inclusive across all content elements, don’t use color-based terms to indicate value and avoid
            language that is ableist, ageist, specific to pronouns and genders, and loaded with jargon.
          </span>



          <h1 class="span-subtitle-700">Example</h1>

          <div class="capitalization-right-2">

            <div class="box-do">
              <div class="content-do">
                <div class="do">
                  <img src="../../assets/check.svg" alt="check" />
                  <span>Do</span>
                </div>
                <span class="span-subtitle-700">Primary</span>
              </div>

              <div class="divider-vertical"></div>

              <div class="content-dont">
                <div class="dont">
                  <img src="../../assets/close.svg" alt="close" />
                  <span>Don’t</span>
                </div>
                <span class="span-subtitle-16">Master</span>
              </div>
            </div>

            <div class="box-do">
              <div class="content-do">
                <div class="do">
                  <img src="../../assets/check.svg" alt="check" />
                  <span>Do</span>
                </div>
                <span class="span-subtitle-700">Partner organization</span>
              </div>

              <div class="divider-vertical"></div>

              <div class="content-dont">
                <div class="dont">
                  <img src="../../assets/close.svg" alt="close" />
                  <span>Don’t</span>
                </div>
                <span class="span-subtitle-16">Sister Organization</span>
              </div>
            </div>

            <div class="box-do">
              <div class="content-do">
                <div class="do">
                  <img src="../../assets/check.svg" alt="check" />
                  <span>Do</span>
                </div>
                <span class="span-subtitle-700">Legacy</span>
              </div>

              <div class="divider-vertical"></div>

              <div class="content-dont">
                <div class="dont">
                  <img src="../../assets/close.svg" alt="close" />
                  <span>Don’t</span>
                </div>
                <span class="span-subtitle-16">Grandfatherred</span>
              </div>
            </div>

            <div class="box-do">
              <div class="content-do">
                <div class="do">
                  <img src="../../assets/check.svg" alt="check" />
                  <span>Do</span>
                </div>
                <span class="span-subtitle-700">Show nore</span>

              </div>

              <div class="divider-vertical"></div>

              <div class="content-dont">
                <div class="dont">
                  <img src="../../assets/close.svg" alt="close" />
                  <span>Don’t</span>
                </div>
                <span class="span-subtitle-16">See more</span>
              </div>
            </div>

          </div>



      </div>

     </div>




  </div>




    <div class="navigator-container">
      <ul class="navigator">
        <span>On this page</span>
        <li> core values</li>
        <li>Principles</li>
      </ul>
    </div>

  </div>

</div>
